/*Desktop View*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  height: 130px;
  max-width: 1150px;
  margin: auto;
}
.logo-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* margin: auto; */
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 130px;
  height: 130;
}
.logo-text{
  line-height: 33px;
  margin-top: 15px;
}
.nav-options-wrapper{
  margin-top: 60px;
}
.nav-options {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 40px;
  list-style-type: none;
}
.nav-options .option a{
  color:#222;
}
.nav-options .option a:hover{
  color: rgb(121, 121, 121);
  text-decoration: none !important;
}
.mobile-option {
  display: none;
}

.option :hover {
  color: white;
}
.signin-up {
  display: flex;
  padding: 0px 5px;
  list-style-type: none;
}
.sign-in {
  padding-right: 50px;
  align-self: center;
}
.sign-in :hover {
  color: white;
}
.signup-btn {
  padding: 10px 10px;
  height: 2.4rem;
  border-radius: 3px;
  background: rgb(222, 9, 241);
  color: white;
  cursor: pointer;
  align-items: center;
}
.mobile-menu {
  display: none;
}

.logo-text span.platform {
  color: #183d8b;
  font-size: 40px;
  font-weight: bolder;
}
.logo-text span.rp{
  color: #089ffb;
  font-size: 16px;
  font-weight: bolder;
}
.vl {
  border-left: 2px solid #adadad;
  height: 60px;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 20px;
}











@media (max-width: 1200px) {
  .nav-options {
    grid-gap: 30px;
  }
  .acme-insight-box {
    height: 310px;
  }
}
@media (max-width: 1145px) {
  .nav-options {
    grid-gap: 5px;
  }
  li.option {
    width: 92px;
  }
}
@media (max-width: 1000px) {
  li.option {
    width: 85px;
    font-size: 14px;
  }
}
@media (max-width: 980px) {
  /*Mobile View */
  .header {
    padding: 0px 10px;
  }
  .logo {
    width: 85px;
    height: 90px;
  }
  .logo-text span.platform {
    font-size: 35px;
  }
  .logo-text span.rp{
    font-size: 14px;
  }
  .nav-options {
    display: flex;
    width: 100%;
    height: 350px;
    position: absolute;
    top: 110px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }
  .nav-options.active {
    background: #9899d1;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
  }

  .menu-icon {
    width: 45px;
    height: 45px;
  }
  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9vw;
    padding: 30px 0px;
  }
  .sign-up {
    background: rgb(222, 9, 241);
    border-radius: 3px;
    color: white;
    padding: 20px 0px;
    width: 80%;
    align-self: center;
    border-radius: 3px;
  }

  .signin-up {
    display: none;
  }
  
  .vl{
    display: none;
  }
}
.mobile-menu {
  display: block;
}
