

.acme-wealth{
    border-top: 20px solid #001254;
    /* overflow: hidden; */
    min-height: 450px;
}
.acme-wealth img{
    max-width: 100%;
}
.acme-wealth-centered {
    margin: auto;
}
.acme-wealth-text{
    font-size: 45px;
    text-align: left;
    font-weight: bolder;
    letter-spacing: -1px;
    line-height: 40px;
    color: #fff;
}
.awmp{
    text-align: left;
    font-size: 25px;
    font-weight: 500;
    color: #ccc;
    margin-top: 15px;
}
.acmew-text-wrapper{
    margin: 100px 0px;
}


/* ACME INSIGHTS*/
.acme-insight-wrapper{
    /* max-width: 1150px; */
    margin: auto;
}

.acme-insight-box {
    height: 360px;
    box-shadow: 0 0 8px 5px hsl(0deg 0% 66% / 51%);
    margin-top: 30px;
    padding: 20px;
}
.acme-insight-title {
    margin-top: 40px;
}
.acme-insight-title h3 {
    font-size: 35px;
    font-weight: bolder;
    letter-spacing: 0px;
    color: #4a4a4a;
}
.acme-insight-box img {
    width: 100%;
}
.acme-insight-box-text1, .acme-insight-box-text2, .acme-insight-box-text3 {
    font-size: 22px;
    margin-top: 8px;
    font-weight: bolder;
}

.acme-insight-box-text1{
    color: #1550d1;
} 
.acme-insight-box-text2{
    color: #01a59e;
} 
.acme-insight-box-text3{
    color: #019bfb;
}

.acme-insight-box.box-1{
    border-bottom: 10px solid #1550d1;
}
.acme-insight-box.box-2{
    border-bottom: 10px solid #01a59e;
}
.acme-insight-box.box-3{
    border-bottom: 10px solid #019bfb;
}
.acme-insight-text {
    font-size: 13px;
    font-weight: 500;
}


/* ABOUT US */

.contact-us {
    min-height: 300px;
    overflow: hidden;
    margin-top: 50px;
    background: #1450d2;
}
.contact-us img{
    max-width: 100%;
    width: 100%;
}

.contact-us-text1{
    font-size: 33px;
    font-weight: bolder;
    letter-spacing: -1px;
    text-align: center;
    color: white;
    margin-top: 60px !important;
    margin: auto;
}
.contact-us-text2 {
    font-size: 19px;
    text-align: left;
    font-weight: 500;
    letter-spacing: -1px;
    text-align: center;
    margin: auto;
    color: #fff;
}
.contact-us-centered{
    margin: auto;
}
.contact-us-btn{
    margin-top: 40px !important;
    margin: auto;
}
.contact-us-btn button{
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 30px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}




/* Events */

.events-insight-wrapper{
    margin: auto;
}
.events-insight-box img{
    width: 100%;
}
.events-insight-box.box-1,
.events-insight-box.box-2,
.events-insight-box.box-3{
    height: 275px;
}

.events-date {
    color: #fff;
    margin-left: 25px;
    padding-top: 10px;
    width: 75px;
    text-align: center;
    line-height: 23px;
}
.event-month {
    font-size: 12px;
    font-weight: 200;
}
.event-day {
    font-size: 30px;
}
.event-desc {
    padding: 25px 25px 10px 25px;
    color: #fff;
    min-height: 110px;
}
.desc-title {
    font-size: 21px;
}
.desc-text {
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0px;
    text-align: justify;
}
.event-btn{
    padding: 0 25px;
}

.event-btn button {
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 15px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}
.event-location {
    padding: 0 25px;
    text-align: right;
    color: #222;
    position: absolute;
    bottom: 0;
    right: 0px;
    font-size: 20px;
    font-weight: bolder;
}
.events-insight-wrapper.col-md-9 {
    margin-top: 30px;
}
.events-insight-text {
    font-size: 14px;
    font-weight: 100;
}
.event-intro {
    line-height: 0px;
    margin-bottom: 35px;
}





/* Footer */
.social-share{
    text-align: right;
    font-weight: 500;
}
.social-share img {
    max-width: 20px;
    margin: 0 5px;
}

@media (max-width: 1350px) {
    .desc-title {
        font-size: 17px;
    }
    .desc-text {
      font-size: 12px;
    }
    .event-location {
        font-size: 17px;
    }
}
@media (max-width: 1225px) {
    .desc-title {
        font-size: 15px;
    }
}
@media (max-width: 1200px) {
    .acme-insight-box {
        height: 310px;
    }
}
@media (max-width: 1120px) {
    .event-location {
        font-size: 15px;
    }
}
@media (max-width: 1055px) {
    .desc-title {
        font-size: 13px;
    }
    .desc-text {
        font-size: 11px;
    }
    .event-location {
        font-size: 14px;
    }
}
@media (max-width: 1000px) {
    .awmp {
      text-align: center !important;
    }
    .acmew-text-wrapper {
      max-width: 100% !important;
    }
    .acme-wealth-text {
        font-size: 35px;
    }
    .event-location {
        font-size: 13px;
    }
  }
@media (max-width: 980px) {
    .centered {
        top: 35%;
        max-width: 450px;
    }
    .acme-wealth-text {
        font-size: 35px;
        text-align: center;
    }
    .awmp {
        font-size: 20px;
    }
}

@media (max-width: 960px) {
    .desc-title {
        font-size: 11px;
    }
    .desc-text {
        font-size: 10px;
    }
}
@media (max-width: 945px) {
    .contact-us-text1{
        font-size: 30px;
        margin-top: 40px;
    }
    .contact-us-btn {
        margin-bottom: 30px;
    }
    .acme-insight-box {
        height: 280px;
    }
    .acme-insight-box-text1, .acme-insight-box-text2, .acme-insight-box-text3{
        font-size: 22px;
    }
}
@media (max-width: 920px) {
    .event-btn button{
        font-size: 10px;
    }
    .event-location {
        font-size: 10px;
    }
}
@media (max-width: 860px) {
    .acme-insight-box-text1, .acme-insight-box-text2, .acme-insight-box-text3 {
        font-size: 18px;
    }
    .acme-insight-box {
        height: 240px;
    }
    .contact-us-text1 {
        font-size: 26px;
    }
    .contact-us-text2 {
        font-size: 17px;
    }
}
@media (max-width: 770px) {
    .acme-insight-box {
        margin: auto !important;
        margin-top: 20px !important;
    }
    .events-insight-box.box-1, .events-insight-box.box-2, .events-insight-box.box-3 {
        margin: auto !important;
        margin-top: 30px !important;
    }
}
@media (max-width: 768px) {
    .acme-insight-box {
        height: 350px;
        max-width: 50%;
        margin: auto;
        margin-top: 20px;
    }
    .acme-insight-title {
        text-align: center;
    }
    .acme-insight-text {
        text-align: center;
    }

    .events-insight-box.box-1, .events-insight-box.box-2, .events-insight-box.box-3 {
        height: 275px;
        max-width: 50%;
        margin: auto;
        margin-top: 30px;
    }
    .desc-title {
        font-size: 20px;
    }
    .desc-text {
        font-size: 17px;
    }
    .event-btn button {
        font-size: 14px;
    }
    .event-location {
        padding: 0 25px;
        text-align: right;
        color: #222;
        position: inherit;
        bottom: 0;
        margin-top: 45px;
        right: 0px;
        font-size: 20px;
        font-weight: bolder;
    }
    .event-intro {
        text-align: center;
    }
    .logo-nav {
        margin: auto;
    }
}
@media (max-width: 690px) {
    .desc-title {
        font-size: 18px;
    }
    .desc-text {
        font-size: 14px;
    }
    .event-location {
        font-size: 15px;
    }
    .acme-insight-box {
        height: 330px;
    }
}
@media (max-width: 590px) {
    .desc-title {
        font-size: 15px;
    }
    .desc-text {
        font-size: 11px;
    }
    .event-location {
        font-size: 12px;
    }
    .acme-insight-box {
        height: 300px;
    }
}
@media (max-width: 590px) {

    .desc-title {
        font-size: 12px;
    }
    .desc-text {
        font-size: 10px;
    }
    .event-btn button {
        font-size: 9px;
    }
}
@media (max-width: 740px) {
    .centered {
        top: 34%;
    }
    .acme-wealth-text {
        font-size: 30px;
    }
    .awmp {
        font-size: 18px;
    }
    .centered {
        max-width: 380px;
    }
    .acme-wealth img {
        max-width: 120%;
        margin-left: -20%;
    }
}


@media (max-width: 570px) {
    .centered {
        max-width: 320px;
        top: 32%;
    }
    .acme-wealth-text {
        font-size: 26px;
    }
    .awmp {
        font-size: 15px;
    }
    .acme-insight-box {
        height: 280px;
    }
}


@media (max-width: 480px) {
    .centered {
        max-width: 300px;
        top: 30%;
    }
    .acme-wealth-text {
        font-size: 23px;
    }
    .awmp {
        font-size: 13px;
    }
    .acme-insight-box {
        height: 230px;
    }
}