.footer-wrapper{
    background: #707070;
    height: 70px;
    margin-top: 50px;
    color: #d6d3d3;
}
.footer{
    margin: auto;
    top: 15px;
    font-size: 10px;
}
.info-text{
    line-height: 13px;
    letter-spacing: 0px;
    font-weight: 400;
}